[Desktop Entry]
Name=wipe ram
Encoding=UTF-8
Exec=sh -c "wiperam"
Icon=/usr/share/icons/chromium-bsu.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=clean;performances;free;privacy;



