[Desktop Entry]
Name=Wipe Xtreme
Encoding=UTF-8
Exec=sh -c "WipeXtreme"
Icon=/usr/share/icons/atom.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=clean;performances;free;privacy;

