[Desktop Entry]
Name=wipe tools
Encoding=UTF-8
Exec=sh -c "wipetools"
Icon=/usr/share/icons/atom-beta.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=clean;performances;free;privacy;

