[Desktop Entry]
Name=Wipe Inactive
Encoding=UTF-8
Exec=sh -c "Wipeinactive"
Icon=/usr/share/icons/assaultcube.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=clean;performances;free;privacy;

