[Desktop Entry]
Name=Wipe MET33
Encoding=UTF-8
Exec=sh -c "WipeMET33"
Icon=/usr/share/icons/ksquares.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=clean;performances;free;privacy;

