[Desktop Entry]
Name=Block Country Austrualia
Encoding=UTF-8
Exec=sh -c "countryaus"
Icon=/usr/share/icons/Australia.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



