[Desktop Entry]
Name=Block Country Belgium
Encoding=UTF-8
Exec=sh -c "countrybelg"
Icon=/usr/share/icons/Belgium.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



