[Desktop Entry]
Name=Block Country Canada
Encoding=UTF-8
Exec=sh -c "countrycan"
Icon=/usr/share/icons/Canada.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



