[Desktop Entry]
Name=Block Country Colombia
Encoding=UTF-8
Exec=sh -c "countrycolom"
Icon=/usr/share/icons/Colombia.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



