[Desktop Entry]
Name=Block Country Irland
Encoding=UTF-8
Exec=sh -c "countryirl"
Icon=/usr/share/icons/Ireland.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



