[Desktop Entry]
Name=Block Country Israel
Encoding=UTF-8
Exec=sh -c "countryisrael"
Icon=/usr/share/icons/Israel.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



