[Desktop Entry]
Name=Block Country Nigeria
Encoding=UTF-8
Exec=sh -c "countryniger"
Icon=/usr/share/icons/Nigeria.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



