[Desktop Entry]
Name=Block Country Pakistan
Encoding=UTF-8
Exec=sh -c "countrypakist"
Icon=/usr/share/icons/Pakistan.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



