[Desktop Entry]
Name=Block Country Peru
Encoding=UTF-8
Exec=sh -c "countryperu"
Icon=/usr/share/icons/Peru.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



