[Desktop Entry]
Name=Block Country Portugal
Encoding=UTF-8
Exec=sh -c "countryportu"
Icon=/usr/share/icons/Portugal.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



