[Desktop Entry]
Name=Block Country Qatar
Encoding=UTF-8
Exec=sh -c "countryqatar"
Icon=/usr/share/icons/Qatar.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



