[Desktop Entry]
Name=Block Country Switzerland
Encoding=UTF-8
Exec=sh -c "countryswit"
Icon=/usr/share/icons/switzerlandz.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



