[Desktop Entry]
Name=Block Country Ukraine
Encoding=UTF-8
Exec=sh -c "countryukrain"
Icon=/usr/share/icons/Ukraine.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Application;Accessibility;
Keywords=clean;performances;free;privacy;



