[Desktop Entry]
Name=wipe ram
Encoding=UTF-8
Exec=mate-terminal -e "sh -c 'wiperam ;${SHELL:-bash}'"
Icon=/usr/share/icons/chromium-bsu.svg
StartupNotify=false
Terminal=true
Type=Application
Categories=wsecurity;
Keywords=clean;performances;free;privacy;



